<div class="border-card mb-5">
  <div class="row no-gutters justify-content-between align-items-center">
    <div class="flex-1">
      <h5>Projects</h5>
    </div>
    {{#if allowEdit}}
    <div class="ml-2">
      <button class="button-solid button-orange" {{action 'getNewProject'}}>Add New +</button>
    </div>
    {{/if}}
  </div>
  <div class="divider-h my-4"></div>

  <div class="list-divided border-none">
    {{#if projects.length}}
    {{#each projects as |project|}}
    <div class="py-4">
      <div class="d-flex justify-content-between">
        <h5>{{project.title}}</h5>
        {{#if allowEdit}}
        <button class="orange" {{action 'setEditingRecord' project}}>
          <i class="fas fa-edit"></i>Edit
        </button>
        {{/if}}
      </div>
      <div class="my-2">{{project.subtitle}}</div>
      <div class="dark-grey">
        {{moment-format (unix project.startDate) 'MMM YYYY'}} -
        {{#if project.isCurrent}}
        Current
        {{else}}
        {{moment-format (unix project.endDate) 'MMM YYYY'}}
        {{/if}}
      </div>
      <p class="word-break">
        {{project.description}}
      </p>
    </div>
    {{/each}}
    {{else}}
    No Projects Added
    {{/if}}

  </div>
</div>

{{#if (and allowEdit showEditModal)}}
{{#modal-dialog
    onClose=(action "onCloseModal")
    targetAttachment="none"
    translucentOverlay=true
    containerClass='centered-scrolling-container hiring-modal mt-3'
    overlayClass='centered-scrolling-overlay'
    wrapperClass='centered-scrolling-wrapper'
  }}
    <Users::ProjectsList::ProjectEditor 
      @project={{editingRecord}}
      @showEditModal={{showEditModal}} />
  {{/modal-dialog}}
{{/if}}