<div class="border-card mb-5">
  <div class="d-flex">
    <div class="li-left">
      <h5>Educational Qualifications</h5>
    </div>
    {{#if allowEdit}}
    <div class="li-right">
      <button class="button-solid button-orange" {{action 'getNewEducationalQualification'}}>Add New +</button>
    </div>
    {{/if}}
  </div>
  <div class="divider-h my-4"></div>

  <div class="list-divided border-none">
    {{#if educationalQualifications.length}}
    {{#each educationalQualifications as |educationalQualification|}}
    <div class="py-4">
      <div class="d-flex justify-content-between">
        <h5>{{educationalQualification.title}}</h5>
        {{#if allowEdit}}
        <button class="orange" {{action 'setEditingRecord' educationalQualification}}>
          <i class="fas fa-edit"></i>Edit
        </button>
        {{/if}}
      </div>
      <div class="my-1">{{educationalQualification.subtitle}}</div>
      <div class="dark-grey">
        {{educationalQualification.startYear}} -
        {{#if educationalQualification.isCurrent}}
        Current
        {{else}}
        {{educationalQualification.endYear}}
        {{/if}}
      </div>
      <p>
        {{educationalQualification.description}}
      </p>
    </div>
    {{/each}}
    {{else}}
    No Educational Qualifications Added
    {{/if}}

  </div>
</div>

{{#if (and allowEdit showEditModal)}}
{{#modal-dialog
    onClose=(action 'onCloseModal')
    targetAttachment="center"
    translucentOverlay=true
    containerClass='centered-scrolling-container w-50 mt-3'
    overlayClass='centered-scrolling-overlay'
    wrapperClass='centered-scrolling-wrapper'
  }}
<div class="p-5">
  <h4 class="mb-5">Add Educational Qualifications</h4>

  <div class="mb-4">
    <div class="font-sm d-flex justify-content-between">
      <div>
        College <span class="red">*</span>
      </div>
      <WFormValidations class="ml-1 mt-1" @model={{editingRecord}} @attributeName='title' as |validation|>
        {{#if (and validation.isInvalid showValidationMessages)}}
          <span class="red card-md">{{validation.message}}</span>
        {{/if}}
      </WFormValidations>
    </div>
    {{!-- <Input class="input-text" @type="text" @value={{editingRecord.title}} /> --}}
    <PowerSelect 
      @searchEnabled={{true}} 
      @options={{colleges}}
      @selected={{editingRecord.title}} 
      @placeholder="Select College"
      @onChange={{action (mut editingRecord.title)}} as |college|>
      {{college}}
    </PowerSelect>
  </div>  

  <div class="mb-4">
    <div class="font-sm d-flex justify-content-between">
      <div>
        Field Of Study <span class="red">*</span>
      </div>
      <WFormValidations class="ml-1 mt-1" @model={{editingRecord}} @attributeName='subtitle' as |validation|>
        {{#if (and validation.isInvalid showValidationMessages)}}
          <span class="red card-md">{{validation.message}}</span>
        {{/if}}
      </WFormValidations>
    </div>
    <Input class="input-text" @type="text" @value={{editingRecord.subtitle}} />
  </div>


  <div class="row mb-4">
    <div class="col-12 col-md-6">
      <div class="font-sm d-flex justify-content-between">
        <div>
          Start Year <span class="red">*</span>
          <WFormValidations class="mt-1" @model={{editingRecord}} @attributeName='startYear' as |validation|>
            {{#if (and validation.isInvalid showValidationMessages)}}
              <span class="red card-md">{{validation.message}}</span>
            {{/if}}
          </WFormValidations>
        </div>
        <select name="start_year" onchange={{action (mut editingRecord.startYear) value="target.value"}}>
          {{#each (range 1990 maxEndYear) as |year|}}
            <option value="{{year}}" selected={{lite-eq editingRecord.startYear year}}>{{year}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="col-12 col-md-6">
      {{#unless editingRecord.isCurrent}}
      <div class="font-sm d-flex justify-content-between">
        <div>
          End Year <span class="red">*</span>
          <WFormValidations class="mt-1" @model={{editingRecord}} @attributeName='endYear' as |validation|>
            {{#if (and validation.isInvalid showValidationMessages)}}
              <span class="red card-md">{{validation.message}}</span>
            {{/if}}
          </WFormValidations>
        </div>
        <select name="end_year" onchange={{action (mut editingRecord.endYear) value="target.value"}}>
          {{#each (range 1990 maxEndYear) as |year|}}
          <option value="{{year}}" selected={{lite-eq editingRecord.endYear year}}>{{year}}</option>
          {{/each}}
        </select>
      </div>
      {{/unless}}
    </div>
  </div>
  <div class="mb-4">
    <label class="input-checkbox checkbox-solid pt-1">
      <Input @type="checkbox" @checked={{editingRecord.isCurrentSetter}} />
        Currently Attending

      <span></span>
    </label>
  </div>

  <div class="mb-4">
    <div class="font-sm">
      Description (if any)
    </div>
    <Textarea class="input-textarea w-100" @value={{editingRecord.description}} @rows="7" />
    </div>
    
      <div class="d-flex">
        <div class="li-left">
          <button class="red" {{action 'deleteRecord'}}>
            <i class="fas fa-trash pr-3"></i>Delete
          </button>
        </div>
        <div class="li-right">
          <button class="button-dashed button-orange mr-3" {{action "onCloseModal"}}>Cancel</button>
          <button class="button-solid button-orange" 
            {{action (perform saveRecordTask)}}
            disabled={{and (v-get editingRecord 'isInvalid') showValidationMessages}}>
            Save Details
          </button>
        </div>
      </div>
    </div>
  {{/modal-dialog}}
{{/if}}