<div class="border-card mb-5">
  <div class="d-flex">
    <div class="li-left">
      <h5>Educational Qualifications</h5>
    </div>
    {{#if allowEdit}}
    <div class="li-right">
      <button class="button-solid button-orange" {{action 'getNewEducationalQualification'}}>Add New +</button>
    </div>
    {{/if}}
  </div>
  <div class="divider-h my-4"></div>

  <div class="list-divided border-none">
    {{#if educationalQualifications.length}}
    {{#each educationalQualifications as |educationalQualification|}}
    <div class="py-4">
      <div class="d-flex justify-content-between">
        {{#if (eq educationalQualification.type 'x_secondary')}}
          <h5>X (Senior Secondary)</h5>
        {{else if (eq educationalQualification.type 'xii_senior_secondary')}}
          <h5>XII (Senior Secondary)</h5>
        {{else}}
          <h5>{{educationalQualification.title}}</h5>
        {{/if}}

        {{#if allowEdit}}
          <button class="orange" {{action 'setEditingRecord' educationalQualification}}>
            <i class="fas fa-edit"></i>Edit
          </button>
        {{/if}}
      </div>
      <div class="my-2">
        {{#if (eq educationalQualification.type 'x_secondary')}}
          {{educationalQualification.title}}
        {{else if (eq educationalQualification.type 'xii_senior_secondary')}}
          {{educationalQualification.title}} | {{educationalQualification.subtitle}}
        {{else}}
          {{educationalQualification.subtitle}}
        {{/if}}
      </div>
      <div class="dark-grey">
        {{educationalQualification.startYear}} -
        {{#if educationalQualification.isCurrent}}
        Current
        {{else}}
        {{educationalQualification.endYear}}
        {{/if}}
      </div>
      <p class="word-break">
        {{educationalQualification.description}}
      </p>
    </div>
    {{/each}}
    {{else}}
      No Educational Qualifications Added
    {{/if}}

  </div>
</div>

{{#if (and allowEdit showEditModal)}}
{{#modal-dialog
    onClose=(action 'onCloseModal')
    targetAttachment="none"
    translucentOverlay=true
    containerClass='centered-scrolling-container w-50 mt-3'
    overlayClass='centered-scrolling-overlay'
    wrapperClass='centered-scrolling-wrapper'
  }}
    <Users::EducationalQualificationsList::EducationalQualificationEditor 
      @educationalQualification={{editingRecord}}
      @onCloseModal={{action 'onCloseModal'}}
      @onSaveRecord={{action 'onSaveRecord'}}
      @onDeleteRecord={{action 'onDeleteRecord'}} />
  {{/modal-dialog}}
{{/if}}