<div
  class="bg-grey position-absolute w-100 tl row no-gutters justify-content-between align-items-center py-4 px-lg-5 px-4">
  <div class="font-md bold">Add New Company</div>
  <div>
    {{!-- <button class="button-orange button-dashed mr-2">Cancel</button> --}}
    <button class="button-solid button-orange" {{action (perform saveCompanyTask)}}
      disabled={{saveCompanyTask.isRunning}}>Submit</button>
  </div>
</div>

<div class="border-card" style="margin-top: 7.5rem;">
  <div class="row no-gutters justify-content-between align-items-center mb-5">
    <h6>Set Status:</h6>

    <label class="input-checkbox toggle">
      <input type="checkbox" checked={{company.isActive}}
        onClick={{action (mut company.isActive) (not company.isActive)}} />
      <span class="inactive-text">Inactive</span>
      <span class="checkbox"></span>
      <span class="active-text">Active</span>
    </label>
  </div>

  <div class="row mb-5">
    <div class="col-12 col-md-6 pr-lg-5 pr-md-4">
      <div class="mb-5">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h6>Name of the Company</h6>
          <WFormValidations @model={{company}} @attributeName='name' as |validation|>
            {{#if (and validation.isInvalid)}}
            <span class="gradient-text-orange card-md">{{validation.message}}</span>
            {{/if}}
          </WFormValidations>
        </div>
        <Input class="search-bar w-100" @type="text" @value={{company.name}} @required="true" @placeholder="Name" />
      </div>

      <div>
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h6>Company Website</h6>
          <WFormValidations @model={{company}} @attributeName='website' as |validation|>
            {{#if (and validation.isInvalid)}}
            <span class="gradient-text-orange card-md">{{validation.message}}</span>
            {{/if}}
          </WFormValidations>
        </div>
        <Input class="search-bar w-100" @type="text" @value={{company.website}} @required="true"
          @placeholder="https://codingblocks.com" />
      </div>
    </div>

    <div class="col-12 col-md-6 mt-md-0 mt-5 pl-lg-5 pl-md-4">
      <div class="d-flex justify-content-between align-items-center mb-4">
        {{#if company.videoUpload.url}}
        <label class="input-radio checked-input pt-1 mr-4">
          <input type="checkbox" checked={{not company.videoUpload.isHidden}}
            onClick={{action (mut company.videoUpload.isHidden) (not company.videoUpload.isHidden)}} />
          <h6 class="mb-3 display-inline-block">Company Introduction Video</h6>
          <span></span>
        </label>
        {{else}}
        <h6>Company Introduction Video</h6>
        {{/if}}
        {{#if company.videoUpload.url}}
        <button class="gradient-text-orange" {{action 'toggleShowViewUploadModal' 'video'}}>View</button>
        {{/if}}
      </div>
      <FileUploader @queueName="companyVideo" @dropZoneEnabled="true"
        @accept="video/mp4,video/3gp,video/quicktime,video/x-ms-wmv,video/x-flv,video/x-mpegURL,video/x-msvideo"
        @maxFileSize={{20971520}} @allowedFileTypesText=".mp4, .3gp, .wmv, .flv"
        @onDidUpload={{action 'onVideoUpload'}} />
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-12 col-md-6 pr-lg-5 pr-md-4">
      <div class="d-flex justify-content-between align-items-center mb-4">
        {{#if company.logoUpload.url}}
        <label class="input-radio checked-input pt-1 mr-4">
          <input type="checkbox" checked={{not company.logoUpload.isHidden}}
            onClick={{action (mut company.logoUpload.isHidden) (not company.logoUpload.isHidden)}} />
          <h6 class="display-inline-block">Company Logo</h6>
          <span></span>
        </label>
        {{else}}
        <h6>Company Logo</h6>
        {{/if}}

        {{#if company.logoUpload.url}}
        <button class="gradient-text-orange" {{action 'toggleShowViewUploadModal' 'logo'}}>View</button>
        {{/if}}
      </div>
      <FileUploader @queueName="companyLogo" @dropZoneEnabled="true"
        @accept="image/png,image/jpg,image/jpeg,image/svg+xml" @allowedFileTypesText=".png, .jpg, .jpeg, .svg"
        @onDidUpload={{action 'onImageUpload'}} />
    </div>
    <div class="col-12 col-md-6 mt-md-0 mt-5 pl-lg-5 pl-md-4">
      <div class="d-flex justify-content-between align-items-center mb-4">
        {{#if company.brochureUpload.url}}
        <label class="input-radio checked-input pt-1 mr-4">
          <input type="checkbox" checked={{not company.brochureUpload.isHidden}}
            onClick={{action (mut company.brochureUpload.isHidden) (not company.brochureUpload.isHidden)}} />
          <h6 class="mb-3 display-inline-block">Company Brochure</h6>
          <span></span>
        </label>
        {{else}}
        <h6>Company Brochure</h6>
        {{/if}}
        {{#if company.brochureUpload.url}}
        <a href="{{company.brochureUpload.url}}" class="gradient-text-orange" download> View</a>
        {{/if}}
      </div>
      <FileUploader @queueName="companyBrochure" @dropZoneEnabled="true" @accept="application/pdf"
        @allowedFileTypesText=".pdf" @onDidUpload={{action 'onBrochureUpload'}} />
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-12 col-md-6 pr-lg-5 pr-md-4">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h6>Company Description</h6>
        <WFormValidations @model={{company}} @attributeName='description' as |validation|>
          {{#if (and validation.isInvalid)}}
          <span class="gradient-text-orange card-md">{{validation.message}}</span>
          {{/if}}
        </WFormValidations>
      </div>
      <div class="border-card p-0">
        <PellEditor @value={{company.description}} @onChange={{action (mut company.description)}} />
      </div>
    </div>

    <div class="col-12 col-md-6 mt-md-0 mt-5 pl-lg-5 pl-md-4">
      <h6 class="mb-4">Rendered Company Description</h6>
      <div class="bg-grey h-90 br-10 px-4 py-2">
        {{markdown-to-html company.description}}
      </div>
    </div>
  </div>


  <Companies::CompanyEditor::CompanyContactsEditor @contacts={{company.contactsJSON}} />

  {{!-- <div class="d-flex justify-content-end mt-5">
    <button class="button-solid button-orange" {{action (perform saveCompanyTask)}}
      disabled={{saveCompanyTask.isRunning}}>Save</button>
  </div> --}}
</div>

{{#if showViewUploadModal}}
{{#modal-dialog
        onClose=(action (mut showViewUploadModal) false)
        targetAttachment="none"
        translucentOverlay=true
        containerClass='centered-scrolling-container w-50 mt-3'
        overlayClass='centered-scrolling-overlay'
        wrapperClass='centered-scrolling-wrapper'
      }}
{{#if (eq selectedViewUpload 'logo')}}
<img src="{{company.logoUpload.url}}" alt="">
{{else if (eq selectedViewUpload 'video')}}
<video class="wh-100" controls>
  <source src="{{company.videoUpload.url}}">
</video>
{{/if}}
{{/modal-dialog}}
{{/if}}