<div class="border-card mb-5">
  <div class="row no-gutters justify-content-between align-items-center">
    <div class="flex-1">
      <h5>Work Experiences</h5>
    </div>
    {{#if allowEdit}}
    <div class="ml-2">
      <button class="button-solid button-orange" {{action 'getNewWorkExperience'}}>Add New +</button>
    </div>
    {{/if}}
  </div>
  <div class="divider-h my-4"></div>

  <div class="list-divided border-none">
    {{#if workExperiences.length}}
    {{#each workExperiences as |workExperience|}}
    <div class="py-4">
      <div class="d-flex justify-content-between">
        <div>
          <h5 class="mr-2">
            {{workExperience.title}}
            <span class="tag-dashed ml-2">
              {{if (eq workExperience.type 'intern') "Intern" "Full Time"}}
            </span>
          </h5>
        </div>
        {{#if allowEdit}}
        <button class="orange" {{action 'setEditingRecord' workExperience}}>
          <i class="fas fa-edit"></i>Edit
        </button>
        {{/if}}
      </div>
      <div class="my-2">{{workExperience.subtitle}}</div>
      <div class="dark-grey">
        {{moment-format (unix workExperience.startDate) 'MMM YYYY'}} -
        {{#if workExperience.isCurrent}}
        Current
        {{else}}
        {{moment-format (unix workExperience.endDate) 'MMM YYYY'}}
        {{/if}}
      </div>
      <p class="word-break">
        {{workExperience.description}}
      </p>
    </div>
    {{/each}}
    {{else}}
    No Work Experience Added
    {{/if}}

  </div>
</div>

{{#if (and allowEdit showEditModal)}}
{{#modal-dialog
    onClose=(action "onCloseModal")
    targetAttachment="none"
    translucentOverlay=true
    containerClass='centered-scrolling-container hiring-modal mt-3'
    overlayClass='centered-scrolling-overlay'
    wrapperClass='centered-scrolling-wrapper'
  }}
<div class="p-5">
  <h4 class="mb-5">Add Work Experience</h4>

  <div class="mb-4">
    <div class="font-sm d-flex justify-content-between">
      <div>
        Title <span class="red">*</span>
      </div>
      <WFormValidations class="ml-1 mt-1" @model={{editingRecord}} @attributeName='title' as |validation|>
        {{#if (and validation.isInvalid showValidationMessages)}}
        <span class="red card-md">{{validation.message}}</span>
        {{/if}}
      </WFormValidations>
    </div>
    <Input class="input-text" @type="text" @value={{editingRecord.title}} />
  </div>

  <div class="mb-4">
    <div class="font-sm d-flex justify-content-between">
      <div>
        Subtitle <span class="red">*</span>
      </div>
      <WFormValidations class="ml-1 mt-1" @model={{editingRecord}} @attributeName='subtitle' as |validation|>
        {{#if (and validation.isInvalid showValidationMessages)}}
        <span class="red card-md">{{validation.message}}</span>
        {{/if}}
      </WFormValidations>
    </div>
    <Input class="input-text" @type="text" @value={{editingRecord.subtitle}} />
  </div>


  <div class="row mb-4">
    <div class="col-12 col-md-6">
      <div class="font-sm d-flex justify-content-between">
        <div>
          Start Date <span class="red">*</span>
        </div>
        <WFormValidations class="ml-1 mt-1" @model={{editingRecord}} @attributeName='startDate' as |validation|>
          {{#if (and validation.isInvalid showValidationMessages)}}
          <span class="red card-md">{{validation.message}}</span>
          {{/if}}
        </WFormValidations>
      </div>
      <PikadayInput class="input-text" @value={{editingRecord.startDateString}}
        @onSelection={{action (mut editingRecord.startDateString)}} />
    </div>
    <div class="col-12 col-md-6">
      {{#unless editingRecord.isCurrent}}
      <div class="font-sm d-flex justify-content-between">
        <div>
          End Date <span class="red">*</span>
        </div>
        <WFormValidations class="ml-1 mt-1" @model={{editingRecord}} @attributeName='endDate' as |validation|>
          {{#if (and validation.isInvalid showValidationMessages)}}
          <span class="red card-md">{{validation.message}}</span>
          {{/if}}
        </WFormValidations>
      </div>
      <PikadayInput class="input-text" @value={{editingRecord.endDateString}}
        @onSelection={{action (mut editingRecord.endDateString)}} />
      {{/unless}}
    </div>
  </div>
  <div class="mb-4">
    <label class="input-checkbox gradient-tick">
      <Input @type="checkbox" @checked={{editingRecord.isCurrentSetter}} />
      Currently Working
      <span></span>
    </label>
  </div>

  <div class="mb-4">
    <label for="type1" class="input-radio checked-input mr-4">
      <input name="type" id="type1" type="radio" checked={{eq editingRecord.type "intern"}}
        onclick={{action (mut editingRecord.type) "intern"}} />
      Intern
      <span></span>
    </label>
    <label for="type2" class="input-radio checked-input">
      <input name="type" id="type2" type="radio" checked={{eq editingRecord.type "fulltime"}}
        onclick={{action (mut editingRecord.type) "fulltime"}} />
      Full Time
      <span></span>
    </label>
  </div>

  <div class="mb-4">
    <div class="font-sm">Location</div>
    <Input @type="text" class="input-text" @value={{editingRecord.location}} />
  </div>

  <div class="mb-4">
    <div class="font-sm">
      Description (if any)
    </div>
    <Textarea class="input-textarea w-100" @value={{editingRecord.description}} @rows="7" />
    </div>
    
      <div class="d-flex justify-content-between">
        <div>
          {{#if editingRecord.id}}
            <button class="red" {{action 'deleteRecord'}}>
              <i class="fas fa-trash pr-3"></i>Delete
            </button>
          {{/if}}
        </div>
        <div>
          <button class="button-dashed button-orange mr-2" {{action "onCloseModal"}}>Cancel</button>
          <button class="button-solid button-orange" 
            {{action (perform saveRecordTask)}}
            disabled={{and (v-get editingRecord 'isInvalid') showValidationMessages}}>
            Save Details
          </button>
        </div>
      </div>
    </div>
  {{/modal-dialog}}
{{/if}}