<div class="row no-gutters align-items-center justify-content-between pb-4 border-bottom mb-4">
  <h6 class="bold">Company Contacts</h6>
  <a class="orange pointer" {{action 'addContact'}}>
    <h6 class="bold">+ Add New Contact</h6>
  </a>
  {{!-- <button class="button-solid button-orange" {{action 'addContact'}}>Add</button> --}}
</div>

<div class="list-divided border-none">
  {{#each contacts as |contact index|}}
  <div class="my-4">
    <div class="row no-gutters align-items-center justify-content-between">
      <h6 class="bold">Contact #{{inc index}}: {{if contact.name contact.name}}</h6>
      <a class="orange pointer bold font-sm" {{action 'removeContact' contact}}>Remove</a>
    </div>

    <div class="my-3 row no-gutters align-items-center">
      <div class="mr-3 col-1">Name</div>
      {{input type="text" value=contact.name class="search-bar flex-1"}}
    </div>
    <div class="my-3 row no-gutters align-items-center">
      <div class="mr-3 col-1">Email</div>
      {{input type="email" value=contact.email class="search-bar flex-1"}}
    </div>
    <div class="my-3 row no-gutters align-items-center">
      <div class="mr-3 col-1">Phone</div>
      {{input type="number" value=contact.phone class="search-bar flex-1"}}
    </div>

  </div>
  {{/each}}
</div>