<div class="border-card p-5 my-5">
  <div class="row">
    <div class="col-12 col-md-3 border-right profile-left-pane">
      <div class="s-120x120 mb-5">
        {{#if profile.photoUpload}}
        <img class="round wh-100" src="{{profile.photoUpload.url}}" alt="">
        {{else if profile.photo}}
        <img class="round wh-100" src="{{profile.photo}}" alt="">
        {{else}}
        <img class="round wh-100" src="/images/user.svg" alt="">
        {{/if}}
      </div>

      <ul class="mb-5">
        {{#each-in links as |site link|}}
        {{#if link}}
        <li class="mb-3 d-flex">
          {{#if (eq site "github")}}
          <i class="fab fa-github font-mds mr-3"></i>
          {{else if (eq site "linkedin")}}
          <i class="fab fa-linkedin-in font-mds mr-3"></i>
          {{else if (eq site "stackoverflow")}}
          <i class="fab fa-stack-overflow font-mds mr-3"></i>
          {{else if (eq site "portfolio")}}
          <i class="fas fa-globe font-mds mr-3"></i>
          {{else if (eq site "leetcode")}}
          <i class="fas fa-code font-mds mr-3"></i>
          {{else if (eq site "hackerrankHackerearth")}}
          <i class="fas fa-code font-mds mr-3"></i>
          {{/if}}
          <a class="text-ellipses" href="{{link}}" target="blank">{{link}}</a>
        </li>
        {{/if}}
        {{/each-in}}
      </ul>
      {{!-- {{#if userHimself}}
        <button class="button-solid lg button-orange lg font-sm">
          Share Profile
          <i class="fas fa-share-alt ml-1"></i>
        </button>
      {{/if}} --}}
    </div>
    <div class="col-12 col-md-9 pl-md-5">
      <div class="row no-gutters align-items-center justify-content-between">
        <div class="flex-1">
          <div>
            <h2 class="v-align-ma">
              {{profile.user.firstname}}
              {{profile.user.lastname}}

              {{#if (and editMode userHimself)}}
              <span
                class="pill ignore-in-pdf ml-2 white card-md hoverable {{if profile.isActive 'bg-gradient-lgreen' 'bg-gradient-orange'}}">
                {{if profile.isActive 'Active' 'Inactive'}}

                <div class="black p-4 border-card pop-up w-200">
                  {{#if profile.isActive}}
                  Recruiters <span class="bold">can</span> see your profile.
                  <br>
                  <button class="button-solid button-orange mt-2" {{action (perform toggleProfileIsActiveTask)}}
                    disabled={{toggleProfileIsActiveTask.isRunning}}>
                    Stop Searching
                  </button>
                  {{else}}
                  Recruiters <span class="bold">cannot</span> see your profile.
                  <br>
                  <button class="button-solid button-green mt-2" {{action (perform toggleProfileIsActiveTask)}}
                    disabled={{toggleProfileIsActiveTask.isRunning}}>
                    Start Searching
                  </button>
                  {{/if}}
                  <br>
                </div>
              </span>
              {{/if}}
            </h2>
            {{#unless profile.isStudent}}
            <div class="d-flex mt-3">
              <div class="bold orange mr-4">
                <span>Current CTC: {{profile.currentCtc}} LPA</span>
              </div>
              <div class="bold orange">
                <span>Expected CTC: {{profile.expectedCtc}} LPA</span>
              </div>
            </div>
            {{/unless}}
          </div>
        </div>
        <div class="ml-2 d-flex ignore-in-pdf">
          {{#if (and userHimself isUserApplicant)}}
            <div>
              <button class="button-dashed button-orange regular mr-2" {{action (mut profile.stepNumber) 1}}>&lt;
                Edit</button>
            </div>
            <div>
              <button class="button-solid lg button-orange" {{action (perform generatePdfTask)}}
                disabled={{generatePdfTask.isRunning}}>Download as PDF</button>
            </div>
          {{/if}}
        </div>
      </div>

      <div class="divider-h my-4"></div>

      <div class="d-flex">
        <ul class="mr-4">
          <li class="mb-4">
            Current Location: <span class="bold">{{profile.currentLocation.name}}</span>
          </li>
          {{#if profile.locations.length}}
          <li class="mb-4 commafy">
            Preferred Location:
            {{#each profile.locations as |location|}}
            <span class="bold">
              {{location.name}}
            </span>
            {{/each}}
          </li>
          {{/if}}
        </ul>
        {{#unless profile.isStudent}}
        <ul class="mr-4">
          <li class="mb-4">
            Current CTC: <span class="bold">{{profile.currentCtc}} LPA</span>
          </li>
          <li class="mb-4">
            Earliest Joining Date: <span class="bold">{{moment-format (unix profile.joiningDate) 'MMMM YYYY'}}</span>
          </li>
        </ul>
        {{/unless}}
      </div>

      <div class="divider-h mb-4"></div>

      {{#if profile.jobRoles.length}}
      <div class="mb-4">
        Interested Roles
        <span class="mx-2"></span>
        {{#each profile.jobRoles as |jobRole|}}
        <span class="pill-dashed my-1">{{jobRole.name}}</span>
        {{/each}}
      </div>
      {{/if}}

      <p class="pt-2">
        {{profile.about}}
      </p>

    </div>
  </div>

</div>