
<Filters::JobsFilter 
  @filter={{jobsFilter}} 
  @onApplyFilter={{onApplyFilter}} />

<Jobs::JobsList class="mb-5"
  @limit={{limit}}
  @offset={{offset}}
  @fetchJobsTask={{fetchJobsTask}} 
  @filter={{jobsFilter}} />

<h4 class="my-5">Past Jobs</h4>

<Jobs::JobsList class="mb-5"
  @fetchJobsTask={{fetchPastJobsTask}} 
  @allowPagination={{false}}
  @filter={{pastJobsFilter}} />

