<div class="border-card">
  <h3>Tell us about your job preferences</h3>
  <div class="divider-h my-4"></div>

  <div class="mb-4">
    <p>
      Select the roles that you are well-qualified for <span class="red">*</span>
    </p>

    <WSelector @selected={{applicantProfile.jobRoles}} @options={{jobRoles}} as |selector|>
      {{#each jobRoles as |jobRole|}}
      <label class="input-checkbox checkbox-solid pt-1 mr-4 mt-3 display-inline-block">
        <input type="checkbox" onclick={{action selector.changeSelected jobRole}}
          checked={{includes applicantProfile.jobRoles jobRole}} />
        {{jobRole.name}}

        <span></span>
      </label>
      {{/each}}
    </WSelector>
    <WFormValidations class="form-error mt-1" @model={{applicantProfile}} @attributeName='jobRoles' as |validation|>
      {{#if (and validation.isInvalid showValidationMessages)}}
      <span class="red card-md">{{validation.message}}</span>
      {{/if}}
    </WFormValidations>
  </div>

  <div class="row align-items-center mb-4 pt-2">
    <div class="col-12 col-md-6">Where are you currently located? <span class="red">*</span></div>
    <div class="col-12 col-md-6">
      <PowerSelect 
        @searchEnabled={{true}} 
        @searchField={{"name"}} 
        @options={{locations}}
        @selected={{applicantProfile.currentLocation}} 
        @placeholder="Select Location"
        @onChange={{action (mut applicantProfile.currentLocation)}} as |location|>
        {{location.name}}
      </PowerSelect>
      <WFormValidations class="form-error mt-1" @model={{applicantProfile}} @attributeName='currentLocation' as |validation|>
        {{#if (and validation.isInvalid showValidationMessages)}}
        <span class="red card-md">{{validation.message}}</span>
        {{/if}}
      </WFormValidations>
    </div>
  </div>

  <div class="row align-items-center mb-4 pt-2">
    <div class="col-12 col-md-6">
      <div>
        Desired cities to work in? <span class="red">*</span>
        <br>
        {{#each applicantProfile.locations as |location|}}
        <span class="pointer pill-dashed mt-2 mr-2">{{location.name}}
          <button {{action 'removeLocation' location}}>&#10005;</button></span>
        {{/each}}
      </div>
    </div>
    <div class="col-12 col-md-6">
      <PowerSelectMultiple @searchEnabled={{true}} @searchField={{"name"}} @options={{locations}}
        @selected={{applicantProfile.locations}} @placeholder="Select Location"
        @triggerComponent={{component 'trigger-component'}} @onChange={{action (mut applicantProfile.locations)}} as
        |location|>
        <input type="checkbox" onclick={{action "preventDefault"}}
          checked={{includes applicantProfile.locations location}} />
        {{location.name}}
      </PowerSelectMultiple>
      <WFormValidations class="form-error mt-1" @model={{applicantProfile}} @attributeName='locations' as |validation|>
        {{#if (and validation.isInvalid showValidationMessages)}}
        <span class="red card-md">{{validation.message}}</span>
        {{/if}}
      </WFormValidations>
    </div>
  </div>

  <div class="row align-items-center mb-4 pt-2">
    <div class="col-12 col-md-6">Your Graduation Year <span class="red">*</span></div>
    <div class="col-12 col-md-6">
      <select class="input-text" name="graduation_year" onchange={{action (mut applicantProfile.graduationYear) 
                value="target.value"}}>
        <option selected disabled>Graduation Year</option>
        {{#each (range 2000 maxEndYear) as |year|}}
        <option value="{{year}}" selected={{lite-eq applicantProfile.graduationYear year}}>{{year}}</option>
        {{/each}}
      </select>
      <WFormValidations class="form-error mt-1" @model={{applicantProfile}} @attributeName='graduationYear' as |validation|>
        {{#if (and validation.isInvalid showValidationMessages)}}
        <span class="red card-md">{{validation.message}}</span>
        {{/if}}
      </WFormValidations>

    </div>
  </div>

  <div class="row align-items-center mb-4 pt-2">
    <div class="col-12 col-md-6">What is your minimum expected CTC? <span class="red">*</span></div>
    <div class="col-12 col-md-6">
      <div class="d-flex">
        <Input @type="text" class="input-text t-align-l" @value={{applicantProfile.expectedCtcString}}
          @placeholder="Enter amount here" />
        <span class="all-center bg-faded px-3">lpa</span>
      </div>
      <WFormValidations class="form-error mt-1" @model={{applicantProfile}} @attributeName='expectedCtc' as |validation|>
        {{#if (and validation.isInvalid showValidationMessages)}}
        <span class="red card-md">{{validation.message}}</span>
        {{/if}}
      </WFormValidations>
    </div>
  </div>

  <div class="row align-items-center mb-4 pt-2">
    <div class="col-12 col-md-6">What type of job are you looking for? <span class="red">*</span></div>
    <div class="col-12 col-md-6">
      <PowerSelect 
        @searchEnabled={{true}} 
        @searchField={{"name"}} 
        @options={{jobTypes}}
        @selected={{applicantProfile.desiredJobType}} 
        @placeholder="Full Time / Internship / Part Time"
        @onChange={{action (mut applicantProfile.desiredJobType)}} as |jobType|>
          {{#if (eq jobType 'fulltime')}}
            Full Time
          {{else if (eq jobType 'internship')}}
            Internship
          {{else if (eq jobType 'parttime')}}
            Part Time
          {{/if}}
      </PowerSelect>
      <WFormValidations class="form-error mt-1" @model={{applicantProfile}} @attributeName='desiredJobType' as |validation|>
        {{#if (and validation.isInvalid showValidationMessages)}}
        <span class="red card-md">{{validation.message}}</span>
        {{/if}}
      </WFormValidations>
    </div>
  </div>

  <div class="row align-items-center mb-4 pt-2">
    <div class="col-12 col-md-6">Are you a student or Professional?</div>
    <div class="col-12 col-md-6">
      <label for="student" class="pl-4">
        <input id="student" name="student-professional" type="radio" class="mr-2"
          checked={{applicantProfile.isStudentSetter}} onclick={{action (mut applicantProfile.isStudentSetter) true}} />
        Student
      </label>
      <label for="professional" class="pl-4">
        <input id="professional" name="student-professional" type="radio" class="mr-2"
          checked={{not applicantProfile.isStudentSetter}}
          onclick={{action (mut applicantProfile.isStudentSetter) false}} />
        Professional
      </label>
    </div>
  </div>

  {{#unless applicantProfile.isStudent}}
    <div class="row align-items-center mb-4 pt-2">
      <div class="col-12 col-md-6">What is your current CTC? <span class="red">*</span></div>
      <div class="col-12 col-md-6">
        <div class="d-flex">
          <Input @type="text" class="input-text t-align-l" @value={{applicantProfile.currentCtcString}}
            @placeholder="Enter amount here" required />
          <span class="all-center bg-faded px-3">lpa</span>
        </div>
        <WFormValidations class="form-error mt-1" @model={{applicantProfile}} @attributeName='currentCtc' as |validation|>
          {{#if (and validation.isInvalid showValidationMessages)}}
          <span class="red card-md">{{validation.message}}</span>
          {{/if}}
        </WFormValidations>
      </div>
    </div>
  {{/unless}}

  <div class="row align-items-center mb-4 pt-2">
    <div class="col-12 col-md-6">What is your earliest possible joining date?</div>
    <div class="col-12 col-md-6">
      <PikadayInput @class="input-text t-align-l" @value="{{applicantProfile.joiningDateString}}"
        @onSelection={{action (mut applicantProfile.joiningDateString)}} @minDate={{today}} />
      <WFormValidations class="form-error mt-1" @model={{applicantProfile}} @attributeName='joiningDate' as |validation|>
        {{#if (and validation.isInvalid showValidationMessages)}}
        <span class="red card-md">{{validation.message}}</span>
        {{/if}}
      </WFormValidations>
    </div>
  </div>

  <div class="row align-items-start mb-4 pt-2">
    <div class="col-12 col-md-6">
      Add Resume
      <br>
      <span class="dark-grey card-md">Please upload only PDF files with size less than 5MB</span>
    </div>
    <div class="col-12 col-md-6">
      <div class="d-flex">
        {{#if showResumeDownloadButton}}
          <a class="orange font-mds mr-3" href="{{applicantProfile.resumeUpload.url}}" download>
            <i class="fas fa-download"></i>
          </a>
        {{/if}}
        <FileUploader 
          @accept="application/pdf"
          @onDidUpload={{action 'onResumeUpload'}} />
      </div>
      <br>
      OR
      <Input @type="text" class="input-text t-align-l" @value={{applicantProfile.resumeLink}}
        @placeholder="Resume Link" />
      <WFormValidations class="form-error mt-1" @model={{applicantProfile}} @attributeName='resumeLink' as |validation|>
        {{#if (and validation.isInvalid showValidationMessages)}}
        <span class="red card-md">{{validation.message}}</span>
        {{/if}}
      </WFormValidations>
    </div>
  </div>
</div>