<div class="row mt-5">
  <div class="col-12 col-md-6">
    <div class="border-card">
      <h5>Verified Skills</h5>
      <div class="divider-h my-3"></div>

      {{#if verifiedApplicantProfileSkills.length}}
        <div class="list-divided border-none">
          {{#each verifiedApplicantProfileSkills as |applicantProfileSkill|}}
          <div class="d-flex py-4">
            <div class="li-left">
              <h5 class="green mr-4">
                {{applicantProfileSkill.skill.name}}
              </h5>
              <div class="round s-15x15 tick bg-gradient-green-lr mr-5"></div>
              <span>Score: {{applicantProfileSkill.score}}</span>
            </div>
            <div class="li-right">
              {{#if applicantProfileSkill.score}}
                <button class="orange"                 
                  {{action (perform takeTestTask applicantProfileSkill)}}
                  disabled={{takeTestTask.isRunning}}>
                  Take Retest
                </button>
              {{/if}}
            </div>
          </div>
          {{/each}}
        </div>
      {{else}}
        No verified skills.
      {{/if}}

      {{#if showSkillTestError}}
        <div class="divider-h my-3"></div>
        <div class="t-align-c red">{{skillTestErrorMsg}}</div>
      {{/if}}
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="border-card">
      <div class="d-flex justify-content-between align-items-center">
        <h5>Non Verified Skills</h5>
        <button class="button-solid button-orange" {{action (mut showSkillSelectorModal) true}}>
          Add New Skills
        </button>
      </div>

      <div class="divider-h my-3"></div>

      {{#if unverifiedApplicantProfileSkills.length}}
        <div class="list-divided border-none">
          {{#each unverifiedApplicantProfileSkills as |applicantProfileSkill|}}
          <div class="d-flex py-4">
            <div class="li-left">
              <h5>
                {{applicantProfileSkill.skill.name}}
              </h5>
              {{#if (gte score 0)}}
                <span>Score: {{applicantProfileSkill.score}}</span>
              {{/if}}
            </div>
            <div class="li-right">
              {{#if applicantProfileSkill.skill.isVerifiable}}
                <button class="orange" 
                  {{action (perform takeTestTask applicantProfileSkill)}}
                  disabled={{takeTestTask.isRunning}}>
                  Take Test
                </button>
              {{/if}}
            </div>
          </div>
          {{/each}}
        </div>
      {{else}}
        No non verified skills.
      {{/if}}
    </div>
  </div>
</div>

{{#if showSkillSelectorModal}}
  {{#modal-dialog
    onClose=(action (perform saveSkillsTask))
    targetAttachment="none"
    translucentOverlay=true
    containerClass='centered-scrolling-container hiring-modal mt-3 p-5'
    overlayClass='centered-scrolling-overlay'
    wrapperClass='centered-scrolling-wrapper'
  }}

    <PowerSelectMultiple 
      @searchEnabled={{true}} 
      @searchField={{"name"}} 
      @options={{skills}} 
      @selected={{profile.skills}}
      @placeholder="Select Skills" 
      @triggerComponent={{component 'trigger-component'}}
      @onChange={{action (mut profile.skills)}} as |skill|>
      <input 
        type="checkbox" 
        onclick={{action "preventDefault"}} 
        checked={{includes profile.skills skill}} />
      {{skill.name}}
    </PowerSelectMultiple>

    <div class="divider-h my-4"></div>

    {{#each profile.skills as |skill|}}
      <span class="pointer pill-dashed mr-2 mt-2">{{skill.name}}
      <button {{action 'removeSkill' skill}}>&#10005;</button> </span>
    {{/each}}

    <div class="d-flex justify-content-end">
      <button class="button-solid button-orange"
        {{action (perform saveSkillsTask)}}
        disabled={{saveSkillsTask.isRunning}}>
        Save Skills
      </button>
    </div>

  {{/modal-dialog}}
{{/if}}