<div class="container my-5">
  {{#if (and userHimself editMode)}}
    <Users::ApplicantProfileEditor 
      @applicantProfile={{applicantProfile}}
      @saveApplicantProfile={{saveApplicantProfileTask}}
      @getNewRecord={{action "getNewRecord"}}
      @currentPage={{currentPage}}
      @validationError={{validationError}}
      @hbPerformanceStats={{hbPerformanceStats}} />
  {{else}}
    <Users::ApplicantProfile 
      @profile={{applicantProfile}}
      @editMode={{editMode}}
      @hbPerformanceStats={{hbPerformanceStats}} />
  {{/if}}
</div>
