<div class="container my-5">
  {{#if saveApplicantProfileTask.isRunning}}
    <LoadingComponent />
  {{/if}}
  {{#if (and userHimself editMode)}}
    <Users::ApplicantProfileEditor 
      @applicantProfile={{applicantProfile}}
      @saveApplicantProfile={{saveApplicantProfileTask}}
      @syncOnlineCoursesTask={{syncOnlineCoursesTask}}
      @getNewRecord={{action "getNewRecord"}}
      @currentPage={{currentPage}}
      @showValidationMessages={{showValidationMessages}} />
  {{else}}
    <Users::ApplicantProfile 
      @profile={{applicantProfile}}
      @editMode={{editMode}}
      @hbPerformanceStats={{hbPerformanceStats}} />
  {{/if}}
</div>
