<div class="container mb-5">
  {{#if (and userHimself editMode)}}
    <Users::StudentProfileEditor 
      @studentProfile={{studentProfile}}
      @saveStudentProfile={{saveStudentProfileTask}}
      @getNewRecord={{action "getNewRecord"}}
      @currentPage={{currentPage}}
      @validationError={{validationError}}
      @hbPerformanceStats={{hbPerformanceStats}} />
  {{else}}
    <Users::StudentProfile 
      @profile={{studentProfile}}
      @editMode={{editMode}}
      @hbPerformanceStats={{hbPerformanceStats}} />
  {{/if}}
</div>
