<div class="border-card">
  <h5 class="mb-4">Add New Course</h5>

  <Input 
    class="input-text mb-4" 
    @type="text" 
    @value={{editingRecord.name}} 
    @required={{true}}
    @placeholder="Name"
    @disabled={{isCBOnlineCourse}} />
  <Input 
    class="input-text mb-4" 
    @type="text" 
    @value={{editingRecord.logo}} 
    @required={{true}}
    @placeholder="Logo"
    @disabled={{isCBOnlineCourse}} />
  <Input 
    class="input-text mb-4" 
    @type="text" 
    @value={{editingRecord.certificateLink}} 
    @required={{true}}
    @placeholder="Certificate Link"/>

  

  <PikadayInput 
    class="input-text mb-4"
    @placeholder="Start Date"
    @value={{editingRecord.startDateString}}
    @onSelection={{action (mut editingRecord.startDateString)}} />

  <PikadayInput 
    class="input-text mb-4"
    @placeholder="End Date"
    @value={{editingRecord.startDateString}}
    @onSelection={{action (mut editingRecord.endDateString)}} />

  <div>
    <span class="bold">Course Type:</span>
    
    <input 
      class="mb-4 ml-3" 
      type="radio" 
      name="course_type"
      checked={{eq editingRecord.courseMode 'online'}}
      onclick={{action (mut editingRecord.courseMode) 'online'}} 
      required={{true}} />
      Online
    <input 
      class="mb-4" 
      type="radio" 
      name="course_type"
      checked={{eq editingRecord.courseMode 'offline'}}
      onclick={{action (mut editingRecord.courseMode) 'offline'}} 
      required={{true}} />
      Offline
  </div>


  <PowerSelect 
    class="mb-4"
    @options={{organizations}}
    @selected={{editingRecord.organizationTypeSetter}}
    @placeholder={{"Select Organization"}}
    @onChange={{action (mut editingRecord.organizationTypeSetter)}} as |organization|>
    {{organization}}
  </PowerSelect>

  <div class="my-4"></div>

  {{#if (eq editingRecord.organizationType 'other')}}
    <Input 
      class="input-text" 
      @type="text" 
      @value={{editingRecord.organizationName}} 
      @required={{true}}
      @placeholder="Organization Name" />
  {{else if isCBOnlineCourse}}
    <PowerSelect class="mb-4" 
      @options={{onlineCourses}} 
      @placeholder={{"Select Course"}} 
      @onChange={{action 'setOnlineCourse'}} as |onlineCourse|>
      <span onclick="{{action 'setOnlineCourse' onlineCourse}}">{{onlineCourse.title}}</span>
    </PowerSelect>

  {{/if}}
  <button class="button-solid button-orange mt-4" {{action 'saveRecord'}}>Add Course</button>
</div>