<div class="border-card p-5 my-5">
  <div class="row">
    <div class="col-12 col-md-3 border-right">
      <div class="s-120x120 mb-5">
        <img class="round wh-100" src="{{if profile.photo profile.photo '/images/user.svg'}}" alt="">
      </div>

      <ul class="mb-5">
        {{#each-in links as |site link|}}
        {{#if link}}
        <li class="mb-3 d-flex">
          {{#if (eq site "github")}}
          <i class="fab fa-github font-mds mr-3"></i>
          {{else if (eq site "linkedin")}}
          <i class="fab fa-linkedin-in font-mds mr-3"></i>
          {{else if (eq site "stackoverflow")}}
          <i class="fab fa-stack-overflow font-mds mr-3"></i>
          {{else if (eq site "portfolio")}}
          <i class="fas fa-globe font-mds mr-3"></i>
          {{/if}}
          <a class="text-ellipses" href="{{link}}" target="blank">{{link}}</a>
        </li>
        {{/if}}
        {{/each-in}}
      </ul>
      {{!-- {{#if userHimself}}
        <button class="button-solid lg button-orange lg font-sm">
          Share Profile
          <i class="fas fa-share-alt ml-1"></i>
        </button>
      {{/if}} --}}
    </div>
    <div class="col-12 col-md-9 pl-md-5">
      <div class="d-flex">
        <div class="li-left">
          <div>
            <h2 class="mb-3">
              {{profile.user.firstname}}
              {{profile.user.lastname}}
            </h2>
            {{#unless profile.isStudent}}
              <div class="d-flex">
                <div class="bold orange mr-4">
                  <span>Current CTC: {{profile.currentCtc}} LPA</span>
                </div>
                <div class="bold orange">
                  <span>Expected CTC: {{profile.expectedCtc}} LPA</span>
                </div>
              </div>
            {{/unless}}
          </div>
        </div>
        <div class="li-right">
          {{#if userHimself}}
            <div>
              <button class="button-dashed lg button-orange regular" {{action (mut profile.profileCompletion) 0}}>&lt; Edit</button>
            </div>
            {{!-- <div>
              <button class="button-solid lg button-orange"
                {{action (perform generatePdfTask)}}
                disabled={{generatePdfTask.isRunning}}>Download as PDF</button>
            </div> --}}
          {{/if}}
        </div>
      </div>

      <div class="divider-h my-4"></div>

      <div class="d-flex">
        <ul class="mr-4">
          <li class="mb-4">
            Current Location: <span class="bold">{{profile.currentLocation.name}}</span>
          </li>
          {{#if profile.locations.length}}
            <li class="mb-4 commafy">
              Preferred Location:
              {{#each profile.locations as |location|}}
                <span class="bold">
                  {{location.name}}
                </span>
              {{/each}}
            </li>
          {{/if}}
        </ul>
        {{#unless profile.isStudent}}
        <ul class="mr-4">
          <li class="mb-4">
            Current CTC: <span class="bold">{{profile.currentCtc}} LPA</span>
          </li>
          <li class="mb-4">
            Earliest Joining Date: <span class="bold">{{moment-format (unix profile.joiningDate) 'MMMM YYYY'}}</span>
          </li>
        </ul>
        {{/unless}}
      </div>

      <div class="divider-h mb-4"></div>

      {{#if profile.jobRoles.length}}
        <div class="mb-4">
          Interested Roles
          <span class="mx-2"></span>
          {{#each profile.jobRoles as |jobRole|}}
            <span class="pill-dashed">{{jobRole.name}}</span>
          {{/each}}
        </div>
      {{/if}}

      <p class="pt-2">
        {{profile.about}}
      </p>

    </div>
  </div>

</div>

<div class="row">
  <div class="col-12 col-md-8">
    {{#if profile.educationalQualifications.length}}
      <Users::EducationalQualificationsList @educationalQualifications={{profile.educationalQualifications}} />
    {{/if}}
    {{#if profile.workExperiences.length}}
      <Users::WorkExperiencesList @workExperiences={{profile.workExperiences}} />
    {{/if}}

    {{#if profile.projects.length}}
      <Users::ProjectsList @projects={{profile.projects}} />
    {{/if}}
  </div>
  <div class="col-12 col-md-4">
    <Users::HackerBlocksStats class="mb-5" />

    {{#if profile.applicantProfileSkills.length}}
      <Users::ApplicantProfile::SkillsList class="mb-5" @skills={{profile.applicantProfileSkills}} />
    {{/if}}


    {{#if profile.applicantCourses.length}}
      <Users::ApplicantCourse::ApplicantCoursesList class="mb-5" @courses={{profile.applicantCourses}} />
    {{/if}}
  </div>
</div>