<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>

<Users::ApplicantProfile::TalentCard @profile={{profile}} @editMode={{editMode}} />

<div class="row">
  <div class="col-lg-8">
    {{#if profile.educationalQualifications.length}}
      <Users::EducationalQualificationsList @educationalQualifications={{profile.educationalQualifications}} />
    {{/if}}
    {{#if profile.workExperiences.length}}
      <Users::WorkExperiencesList @workExperiences={{profile.workExperiences}} />
    {{/if}}

    {{#if profile.projects.length}}
      <Users::ProjectsList @projects={{profile.projects}} />
    {{/if}}
  </div>
  <div class="col-lg-4">
    <Users::HackerBlocksStats class="mb-5" />

    {{#if profile.applicantProfileSkills.length}}
      <Users::ApplicantProfile::SkillsList class="mb-5" @skills={{profile.applicantProfileSkills}} />
    {{/if}}


    {{#if profile.applicantCourses.length}}
      <Users::ApplicantCourse::ApplicantCoursesList class="mb-5" @courses={{profile.applicantCourses}} />
    {{/if}}
  </div>
</div>