<div class="border-card mb-5">
  <div class="d-flex">
    <div class="li-left">
      <h5>Projects</h5>
    </div>
    {{#if allowEdit}}
    <div class="li-right">
      <button class="button-solid button-orange" {{action 'getNewProject'}}>Add New +</button>
    </div>
    {{/if}}
  </div>
  <div class="divider-h my-4"></div>

  <div class="list-divided border-none">
    {{#if projects.length}}
    {{#each projects as |project|}}
    <div class="py-4">
      <div class="d-flex justify-content-between">
        <h5>{{project.title}}</h5>
        {{#if allowEdit}}
        <button class="orange" {{action 'setEditingRecord' project}}>
          <i class="fas fa-edit"></i>Edit
        </button>
        {{/if}}
      </div>
      <div>{{project.subtitle}}</div>
      <div class="dark-grey">
        {{moment-format (unix project.startDate) 'YYYY'}} -
        {{#if project.isCurrent}}
        Current
        {{else}}
        {{moment-format (unix project.endDate) 'YYYY'}}
        {{/if}}
      </div>
      <p>
        {{project.description}}
      </p>
    </div>
    {{/each}}
    {{else}}
    No Projects Added
    {{/if}}

  </div>
</div>

{{#if (and allowEdit showEditModal)}}
{{#modal-dialog
    onClose=(action (mut showEditModal) false)
    targetAttachment="center"
    translucentOverlay=true
    containerClass='centered-scrolling-container w-50'
    overlayClass='centered-scrolling-overlay'
    wrapperClass='centered-scrolling-wrapper'
  }}
    <div class="p-5">
    <h4 class="mb-5">Add Project</h4>

    <div class="mb-4">
      <div class="font-sm">Title</div>
      <Input class="input-text" @type="text" @value={{editingRecord.title}} />
    </div>

    <div class="mb-4">
      <div class="font-sm">Subtitle</div>
      <Input class="input-text" @type="text" @value={{editingRecord.subtitle}} />
    </div>


    <div class="row mb-4">
      <div class="col-12 col-md-6">
        <div class="font-sm">Start Date</div>
        <PikadayInput class="input-text" @value={{editingRecord.startDateString}}
          @onSelection={{action (mut editingRecord.startDateString)}} />
      </div>
      <div class="col-12 col-md-6">
        {{#unless editingRecord.isCurrent}}
        <div class="font-sm">End Date</div>
        <PikadayInput class="input-text" @value={{editingRecord.endDateString}}
          @onSelection={{action (mut editingRecord.endDateString)}} />
        {{/unless}}
      </div>
    </div>
    <div class="mb-4">
      <Input @type="checkbox" @checked={{editingRecord.isCurrent}} />
      <span>Currently Working</span>
    </div>

    <div class="mb-4">
      <div class="font-sm">Location</div>
      <Input @type="text" class="input-text" @value={{editingRecord.location}} />
    </div>

    <div class="mb-4">
      <div class="font-sm">
        Description (if any)
      </div>
      <Textarea class="input-textarea w-100" @value={{editingRecord.description}} @rows="7" />
    </div>
      
        <div class="d-flex">
          <div class="li-left">
            <button class="red" {{action 'deleteRecord'}}>
              <i class="fas fa-trash pr-3"></i>Delete
            </button>
          </div>
          <div class="li-right">
            <button class="button-dashed button-orange mr-3" {{action (mut showEditModal) false}}>Cancel</button>
            <button class="button-solid button-orange" {{action (perform saveRecordTask)}}>Save Details</button>
          </div>
        </div>
        {{#if error}}
          <div class="red">
            {{error}}
          </div>
        {{/if}}
    </div>
  {{/modal-dialog}}
{{/if}}