<section class="container c-job-description">
  <div class="row mt-5">
    <div class="col-lg-8">
      <div class="border-card p-sm-5 p-4 mb-5">
        <div class="row no-gutters align-items-center">
          <div class="col-lg-5 col-md-7">
            <div class="row no-gutters align-items-center profile-left-pane">
              <div class="col-xl-4 col-lg-6 col-5">
                {{#if company.logoUpload}}
                  <img src={{company.logo}} alt={{company.name}}>
                {{else}}
                  <i class="far fa-building fa-4x"></i>
                {{/if}}
              </div>
              <div class="col-xl-8 col-lg-12 col-7 px-xl-4 pl-lg-0 pl-4">
                <div>
                  <div class="heading">
                    {{job.title}}
                  </div>
                  <div class="font-mds">
                    {{company.name}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <button class="bg-gradient-violet-lr w-100 white d-md-none p-4 mb-4"
        {{action "toggleShowDescription"}}>{{if showDescription 'Hide' 'View'}} About {{company.name}}</button>

      <div class="border-card p-5 {{unless showDescription 'dsp-none-sm'}}">
        <div class="font-md extra-bold mb-4">
          About Us
        </div>
        <div class="w-50 divider-h mb-4"></div>

        <div class="font-sm">
          {{markdown-to-html company.description class="d-inline"}}
        </div>


      </div>
    </div>
    <div class="col-lg-4 mt-lg-0 mt-5">
      <div class="position-relative br-10 overflow-hidden">
        <div class="back-div br-10"></div>

        {{#if (and isCurrentUserRecruiter isRecruiterHimself)}}
          <LinkTo class="button-dashed" @route="companies.id.edit" @model={{company.id}}>Edit</LinkTo>
        {{/if}}
      </div>
    </div>
  </div>

</section>
