{{outlet}}

<div class="position-relative overflow-hidden bg-gradient-dpurple">
  {{!-- <img src="images/Group 1.svg" alt="" class="position-absolute w-100 br"> --}}
  <div class="row mx-0 " style="padding: 3.92rem 8.57rem;">
    <div class="col-12 col-md-6">
      <div class="gradient-text-orange bold" style="font-size: 2.571rem;">
        Find your dream job here!!
      </div>
      <div class="font-normal white my-5" style="font-size: 2rem;">
        Get recruited by top multinational companies
        and get worldwide recognition
      </div>

      <LinkTo @route="jobs">
        <button class="button-solid button-orange">Explore Jobs</button>
      </LinkTo>
    </div>
    <div class="col-12 col-md-6">
      <img src="/images/applicant-yogi.png" alt="applicant-yogi">
    </div>
  </div>
</div>
<div class="container">
  <div class="bold t-align-c mt-5 pt-5 mb-3" style="font-size: 1.857rem;">Our Partners</div>
  <div class="font-md t-align-c">
    Here are some of the amazing companies that are recruiting through us to grow their teams.
  </div>
  <img src="images/partners.svg" alt="" class="w-100">


  <div class="t-align-c my-5">
    <h2 class="mb-2">Be in-demand with our courses</h2>
    <h4 class="semi-bold"> How our platform stands out from all other platforms </h4>
  </div>

  <div class="row">
    <div class="col-md-4 col-6 mb-5">
      <div class="border-card p-lg-5 p-4 h-100"><img src="https://minio.codingblocks.com/landing-pages/learning.svg"
          alt="contests" loading="lazy" class="s-100x100 mb-3">
        <h5 class="bold mb-3">Hands-on Coding Experience</h5>
        <div class="font-normal">
          Experienced, engaging instructors take you through course material, step by step, in our high-quality video
          lessons.
        </div>
      </div>
    </div>
    <div class="col-md-4 col-6 mb-5">
      <div class="border-card p-lg-5 p-4 h-100"><img
          src="https://minio.codingblocks.com/landing-pages/mentorsupport.svg" alt="contests" loading="lazy"
          class="s-100x100 mb-3">
        <h5 class="bold mb-3">24x7 Mentor Support</h5>
        <div class="font-normal">
          Our online programming courses online are a
          flexible alternative that provides online access
          with real-time support from instructors
        </div>
      </div>
    </div>
    <div class="col-md-4 col-6 mb-5">
      <div class="border-card p-lg-5 p-4 h-100"><img src="https://minio.codingblocks.com/landing-pages/webinar.png"
          alt="contests" loading="lazy" class="s-100x100 mb-3">
        <h5 class="bold mb-3">Work on Live Projects</h5>
        <div class="font-normal">
          The Course Material contains lot of live projects to work on. The best way to learn making an application is
          put it into
          production.
        </div>
      </div>
    </div>
    <div class="col-md-4 col-6 mb-5">
      <div class="border-card p-lg-5 p-4 h-100"><img src="https://minio.codingblocks.com/landing-pages/revisit.svg"
          alt="contests" loading="lazy" class="s-100x100 mb-3">
        <h5 class="bold mb-3">Revisit and Revise</h5>
        <div class="font-normal">
          Study the course contents at your own pace. If you're an experienced developer, you can complete the courses
          in a matter
          of days.
        </div>
      </div>
    </div>
    <div class="col-md-4 col-6 mb-5">
      <div class="border-card p-lg-5 p-4 h-100"><img src="https://minio.codingblocks.com/landing-pages/certificate.svg"
          alt="contests" loading="lazy" class="s-100x100 mb-3">
        <h5 class="bold mb-3">Evaluation And Certification</h5>
        <div class="font-normal">
          Get instructor-signed certificate with our seal to accredit your achievement after the course completion and
          increase
          your job prospects.
        </div>
      </div>
    </div>
    <div class="col-md-4 col-6 mb-5">
      <div class="border-card p-lg-5 p-4 h-100"><img src="https://minio.codingblocks.com/landing-pages/interview.svg"
          alt="contests" loading="lazy" class="s-100x100 mb-3">
        <h5 class="bold mb-3">Hackerblocks Leaderboard</h5>
        <div class="font-normal">
          You will be assessed weekly in your path to becoming a programming expert at this online certification course
          and all
          the practice, assignments and tests will be taken on our online automated code judge.
        </div>
      </div>
    </div>
  </div>

  <div class="t-align-c my-5">
    <h2 class="mb-2">What our students say</h2>
  </div>

  <div class="row mt-5">
    <div class="col-lg-4 col-md-6 pb-4">
      <div class="border-card p-5">
        <img src="https://minio.codingblocks.com/landing-pages/group.svg" alt="" class="overlay-icon">
        <div class="d-flex align-items-center">
          <div class="bg-grey s-50x50 br-50 overflow-hidden">
            <img src="https://minio.codingblocks.com/codingblocks-assets/1536154281747.jpeg" alt="" class="h-100">
          </div>
          <div class="ml-3">
            <div class="bold">Anshul Mittal</div>
            <div class="card-md font-normal">Android Development Course</div>
          </div>
        </div>
        <div class="my-5 font-normal review-body">
          Coding Blocks helped in gaining enough experience to get internships at giants like Google and Rubrik.
        </div>
        <div class="extra-bold">Placed at Google</div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 pb-4">
      <div class="border-card p-5">
        <img src="https://minio.codingblocks.com/landing-pages/group.svg" alt="" class="overlay-icon">
        <div class="d-flex align-items-center">
          <div class="bg-grey s-50x50 br-50 overflow-hidden">
            <img src="https://minio.codingblocks.com/codingblocks-assets/1537792831355.jpeg" alt="" class="h-100">
          </div>
          <div class="ml-3">
            <div class="bold">Sidharth Bansal</div>
            <div class="card-md font-normal">Web Development</div>
          </div>
        </div>
        <div class="my-5 font-normal review-body">
          Hii I am Sidharth Bansal from Delhi technology university. I have done competitive boot camp from coding
          blocks.
          This gave me a great exposure to problem solving mindset.

        </div>
        <div class="extra-bold">Placed at Amazon</div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 pb-4">
      <div class="border-card p-5">
        <img src="https://minio.codingblocks.com/landing-pages/group.svg" alt="" class="overlay-icon">
        <div class="d-flex align-items-center">
          <div class="bg-grey s-50x50 br-50 overflow-hidden">
            <img src="https://minio.codingblocks.com/codingblocks-assets/1538401462569.jpeg" alt="" class="h-100">
          </div>
          <div class="ml-3">
            <div class="bold">Samarth Jain</div>
            <div class="card-md font-normal">Competitive Programming</div>
          </div>
        </div>
        <div class="my-5 font-normal review-body">
          My journey in the world of Competitive Programming started with the Bootcamp at Coding Blocks, which turned
          out
          to be a changing point in my life. The immense amount of knowledge I got during the course did not only
          develop
          my interest but also made me pursue this field later. A special thanks to Shubham bhaiya, Mayank bhaiya and
          Prateek bhaiya for being the guiding lights in my journey and always motivating us to follow our passion!
        </div>
        <div class="extra-bold">Placed at Uber</div>
      </div>
    </div>
  </div>


  {{!-- <div class="bold t-align-c my-5" style="font-size: 1.857rem;">What our partners are saying</div>
  <div class="all-center">
    <div class="border-card p-5 t-align-c" style="background-color: #e6e6e6;">
      <div class="all-center">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmL43mSCo0MAu3fCgV8t6QRsNzyiatE_Har4TjE8M6NZ-i0tKDzA">
      </div>
      <h4 class="bold my-4">Rachana BA, HR Team</h4>
      <div class="font-sm font-normal grey">
        We received some really good profiles for the Software development Intern role, and we managed to finalize on a
        few good candidates. The candidates did really well in their interview rounds and were very accommodating and
        prompt in terms of their scheduled interviews. Can't wait to welcome them to the team and see what they have to
        contribute to the company!
      </div>
    </div>
  </div> --}}
</div>

<div class="p-5 bg-grey">
  <div class="container">
    <div class="d-flex">
      <div class="li-left">
        <div>
          <h2 class="mb-3">Get Started</h2>
          <div class="font-md">Start applying to jobs right now</div>
        </div>
      </div>
      <div class="li-right">
        <LinkTo @route="jobs">
          <button class="button-solid button-orange">View all jobs</button>
        </LinkTo>
      </div>
    </div>

    <div class="row justify-content-center my-5">
      {{#each jobs as |job|}}
        <div class="col-12 col-lg-5">
          <div class="border-card br-20 mb-5 mb-lg-0">
            <div class="img-desc">
              <div class="col-3 pl-0">
                <img src="{{job.companyProfile.logo}}" alt="{{job.companyProfile.name}}">
              </div>
              <div class="description col-9">
                <div>
                  <h4>{{job.title}}</h4>
                  <div class="font-mds">
                    {{job.companyProfile.name}}
                  </div>
                </div>
                <div class="dark-grey">
                  Posted a {{moment-from-now (unix job.postedOn)}}
                </div>
              </div>
            </div>
            <div class="divider-h mt-4 mb-4"></div>

            <div class="d-flex font-sm mb-3">
              <div class="col-6 pl-0">
                <div class="mb-3">
                  Job Location: <span class="extra-bold">{{job.location}}</span>
                </div>
                <div class="mb-3 pl-0">
                  Job Type: <span class="extra-bold">{{job.type}}</span>
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
                  Experience: <span class="extra-bold">{{job.experience}}</span>
                </div>
                <div>
                  CTC: <span class="extra-bold">{{job.ctc}}</span>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-end align-items-center">
              {{!-- <span class="red">Deadline: {{moment-format job.deadline "DD MMM YY"}}</span> --}}
              <LinkTo @route="jobs.id" @model={{job.id}}>
                <button class="button-solid button-orange">View</button>
              </LinkTo>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>