{{outlet}}

<div class="hiring-landing">
  <div class="position-relative overflow-hidden bg-gradient-dpurple">
    {{!-- <img src="images/Group 1.svg" alt="" class="position-absolute w-100 br"> --}}
    <div class="row mx-0 align-items-center justify-content-between hiring-landing__main-section">
      <div class="col-lg-6 t-align-lg-l t-align-c">
        <div class="gradient-text-orange bold" style="font-size: 2.571rem;">
          Find your dream job here!!
        </div>
        <div class="font-normal white my-5" style="font-size: 2rem;">
          Get recruited by top multinational companies
          and get worldwide recognition
        </div>

        <LinkTo @route="jobs">
          <button class="button-solid button-orange">Explore Jobs</button>
        </LinkTo>
      </div>
      <div class="col-lg-6 t-align-lg-r t-align-c mt-lg-0 mt-5 d-sm-block d-none">
        <img src="/images/applicant-yogi.png" alt="applicant-yogi">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="bold t-align-c mt-5 pt-5 mb-3" style="font-size: 1.857rem;">Our Partners</div>
    <div class="font-md t-align-c">
      Here are some of the amazing companies that are recruiting through us to grow their teams.
    </div>
    <img src="images/partners.svg" alt="" class="w-100">


    <div class="t-align-c my-5">
      <h2 class="mb-2">Be in-demand with our courses</h2>
      <h4 class="semi-bold"> How our platform stands out from all other platforms </h4>
    </div>

    <div class="row">
      <div class="col-md-4 col-6 mb-5">
        <div class="border-card p-lg-5 p-4 h-100"><img src="https://minio.codingblocks.com/landing-pages/learning.svg"
            alt="contests" loading="lazy" class="s-100x100 mb-3">
          <h5 class="bold mb-3">Hands-on Coding Experience</h5>
          <div class="font-normal">
            Experienced, engaging instructors take you through course material, step by step, in our high-quality video
            lessons.
          </div>
        </div>
      </div>
      <div class="col-md-4 col-6 mb-5">
        <div class="border-card p-lg-5 p-4 h-100"><img
            src="https://minio.codingblocks.com/landing-pages/mentorsupport.svg" alt="contests" loading="lazy"
            class="s-100x100 mb-3">
          <h5 class="bold mb-3">24x7 Mentor Support</h5>
          <div class="font-normal">
            Our online programming courses online are a
            flexible alternative that provides online access
            with real-time support from instructors
          </div>
        </div>
      </div>
      <div class="col-md-4 col-6 mb-5">
        <div class="border-card p-lg-5 p-4 h-100"><img src="https://minio.codingblocks.com/landing-pages/webinar.png"
            alt="contests" loading="lazy" class="s-100x100 mb-3">
          <h5 class="bold mb-3">Work on Live Projects</h5>
          <div class="font-normal">
            The Course Material contains lot of live projects to work on. The best way to learn making an application is
            put it into
            production.
          </div>
        </div>
      </div>
      <div class="col-md-4 col-6 mb-5">
        <div class="border-card p-lg-5 p-4 h-100"><img src="https://minio.codingblocks.com/landing-pages/revisit.svg"
            alt="contests" loading="lazy" class="s-100x100 mb-3">
          <h5 class="bold mb-3">Revisit and Revise</h5>
          <div class="font-normal">
            Study the course contents at your own pace. If you're an experienced developer, you can complete the courses
            in a matter
            of days.
          </div>
        </div>
      </div>
      <div class="col-md-4 col-6 mb-5">
        <div class="border-card p-lg-5 p-4 h-100"><img
            src="https://minio.codingblocks.com/landing-pages/certificate.svg" alt="contests" loading="lazy"
            class="s-100x100 mb-3">
          <h5 class="bold mb-3">Evaluation And Certification</h5>
          <div class="font-normal">
            Get instructor-signed certificate with our seal to accredit your achievement after the course completion and
            increase
            your job prospects.
          </div>
        </div>
      </div>
      <div class="col-md-4 col-6 mb-5">
        <div class="border-card p-lg-5 p-4 h-100"><img src="https://minio.codingblocks.com/landing-pages/interview.svg"
            alt="contests" loading="lazy" class="s-100x100 mb-3">
          <h5 class="bold mb-3">Hackerblocks Leaderboard</h5>
          <div class="font-normal">
            You will be assessed weekly in your path to becoming a programming expert at this online certification
            course
            and all
            the practice, assignments and tests will be taken on our online automated code judge.
          </div>
        </div>
      </div>
    </div>

    <div class="t-align-c my-5">
      <h2 class="mb-2">What our students say</h2>
    </div>

    <SuccessStories />
  </div>

  <div class="bg-grey pt-5">
    <div class="container">
      <div class="row no-gutters align-items-center justify-content-between">
        <div class="flex-1">
          <div>
            <h2 class="mb-3">Get Started</h2>
            <div class="font-md">Start applying to jobs right now</div>
          </div>
        </div>
        <div class="ml-3">
          <LinkTo @route="jobs">
            <button class="button-solid button-orange">View all jobs</button>
          </LinkTo>
        </div>
      </div>

      <div class="row justify-content-center mt-5">
        {{#each jobs as |job|}}
        <div class="col-12 col-lg-5">
          <div class="border-card br-20 mb-5">
            <div class="row no-gutters align-items-center">
              <div class="col-3">
                <img src="{{job.company.logo}}" alt="{{job.company.name}}">
              </div>
              <div class="col-9 pl-4">
                <div>
                  <h4>{{job.title}}</h4>
                  <div class="font-mds">
                    {{job.company.name}}
                  </div>
                </div>
                <div class="dark-grey mt-4">
                  Posted {{moment-from-now (unix job.postedOn)}}
                </div>
              </div>
            </div>
            <div class="divider-h mt-4 mb-4"></div>

            <div class="d-flex font-sm mb-3">
              <div class="col-6 pl-0">
                <div class="mb-3">
                  Job Location: <span class="extra-bold">{{job.location}}</span>
                </div>
                <div class="mb-3 pl-0">
                  Job Type: <span class="extra-bold">{{job.type}}</span>
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
                  Experience: <span class="extra-bold">{{job.experience}}</span>
                </div>
                <div>
                  CTC: <span class="extra-bold">{{job.ctc}}</span>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-end align-items-center">
              {{!-- <span class="red">Deadline: {{moment-format job.deadline "DD MMM YY"}}</span> --}}
              <LinkTo @route="jobs.id" @model={{job.id}}>
                <button class="button-solid button-orange">View</button>
              </LinkTo>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>