<div class="row c-topnav py-3 justify-content-between align-items-center">
  <div class="col-6 px-0 d-md-none d-block">
    <div class="d-flex align-items-center ml-3">
      <div class="hamburger-menu mr-3">
        <div class="ham-toggle">
          <div class="hamburger" {{action 'toggleHamburgerNav'}}>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
      {{!-- <span class="font-sm">Hacker<strong> Blocks</strong></span> --}}
    </div>
  </div>
  <div class="col-6 d-md-block d-none">
    <ul>
      {{#if sidenav.isHidden}}
        <li>
          <LinkTo class="navbar-brand font-md black" @route="{{if isCompanyRouteActive 'recruiter' 'index'}}">
            <!-- <img src="https://minio.codingblocks.com/amoeba/hellointern.svg" class="d-inline-block align-top" alt /> -->
            Coding Blocks | <span class="gradient-red bold">Hire</span>
          </LinkTo>
        </li>
      {{/if}}
    </ul>
  </div>
  <div class="align-items-center">
    <ul class="right-nav">
      {{!-- <li class="top-nav-option px-3 mt-2 d-none d-md-block">
        <a href="https://online.codingblocks.com/courses" target="blank">Courses</a>
      </li>
      <li class="top-nav-option px-3 mt-2 d-none d-md-block">
        <a href="https://codingblocks.com/campus-ambassador-program.html" target="blank">Campus Ambassadors</a>
      </li>
      <li class="top-nav-option px-3 mt-2 d-none d-md-block">
        <a href="https://codingblocks.com/about.html" target="blank">About Us</a>
      </li>
      <li class="top-nav-option px-3 mt-2 d-none d-md-block">
        <a href="https://codingblocks.com/centres/" target="blank">Contact Us</a>
      </li> --}}
      {{#if isCompanyRouteActive}}
        <li class="top-nav-option hoverable px-3 d-md-block d-none">
          <LinkTo @route="applicants" class="orange font-sm">
            Are you a student?
          </LinkTo>
        </li>
      {{else}}
        <li class="top-nav-option hoverable px-3 d-md-block d-none">
          <LinkTo @route="recruiter" class="orange font-sm">
            Are you hiring?
          </LinkTo>
        </li>
      {{/if}}
      <li class="top-nav-option hoverable px-3 d-md-block d-none">
        {{#if session.isAuthenticated}}
          <div class="img-desc align-items-center font-sm pt-1">
            <img class="round s-30x30" src="{{if currentUser.user.photo currentUser.user.photo '/images/user.svg'}}" alt="Profile Pic">
            <div class="description ml-3">
              Hi, {{currentUser.user.firstname}}
            </div>
          </div>
          <div class="pop-up border-card p-3 br-5">
            <ul class="t-align-l">
              <li>
                {{#link-to "applicants.profile.id" currentUser.user.id}}Profile{{/link-to}}
              </li>
              <div class="divider-h my-3"></div>
              <li>
                <a class="dark-grey" href={{logoutLink}}>
                  Logout
                </a>
              </li>
            </ul>
          </div>
        {{else if (not isCompanyRouteActive)}}
          <LoginButton class="font-sm" />
        {{/if}}
      </li>
    </ul>
  </div>
</div>

<div class="d-flex">
  <div class="w-100 {{unless sidenav.isHidden 'offset-1' ''}}">
    <cb-navbar topalign="right"></cb-navbar>
  </div>
</div>