<div class="border-card mb-5">
  <div class="d-flex">
    <div class="li-left">
      <h5>Educational Qualifications</h5>
    </div>
    {{#if allowEdit}}
      <div class="li-right">
        <button class="button-solid button-orange" {{action 'getNewEducationalQualification'}}>Add New +</button>
      </div>
    {{/if}}
  </div>
  <div class="divider-h my-4"></div>

  <div class="list-divided border-none">
    {{#each educationalQualifications as |educationalQualification|}}
    <div class="py-4">
      <div class="d-flex justify-content-between">
        <h5>{{educationalQualification.title}}</h5>
        {{#if allowEdit}}
          <button class="orange" {{action 'setEditingRecord' educationalQualification}}>
            <i class="fas fa-edit"></i>Edit
          </button>
        {{/if}}
      </div>
      <div>{{educationalQualification.subtitle}}</div>
      <div class="dark-grey">
        {{educationalQualification.startYear}} -
        {{#if educationalQualification.isCurrent}}
          Current
        {{else}}
          {{educationalQualification.endYear }}
        {{/if}}
      </div>
      <p>
        {{educationalQualification.description}}
      </p>
    </div>
    {{/each}}

  </div>
</div>

{{#if (and allowEdit showEditModal)}}
{{#modal-dialog
    onClose=(action (mut showEditModal) false)
    targetAttachment="center"
    translucentOverlay=true
    containerClass='centered-scrolling-container'
    overlayClass='centered-scrolling-overlay'
    wrapperClass='centered-scrolling-wrapper'
  }}
<div class="p-5">
  <h4 class="mb-5">Add Educational Qualifications</h4>

  <div class="">
    <div class="font-sm">Title</div>
    <Input class="input-text" @type="text" @value={{editingRecord.title}} />
  </div>

  <div class="">
    <div class="font-sm">Subtitle</div>
    <Input class="input-text" @type="text" @value={{editingRecord.subtitle}} />
  </div>


  <div class="row">
    <div class="col-12 col-md-6">
      <div class="font-sm">Start Year</div>
      <select name="start_year" onchange={{action (mut editingRecord.startYear) value="target.value"}}>
        {{#each (range 1990 currentYear) as |year|}}
          <option value="{{year}}" selected={{eq editRecord.startYear year}}>{{year}}</option>
        {{/each}}
      </select>
    </div>
    <div class="col-12 col-md-6">
      {{#unless editingRecord.isCurrent}}
        <div class="font-sm">End Year</div>
        <select name="end_year" onchange={{action (mut editingRecord.endYear) value="target.value"}}>
          {{#each (range 1990 currentYear) as |year|}}
            <option value="{{year}}" selected={{eq editRecord.endYear year}}>{{year}}</option>
          {{/each}}
        </select>
      {{/unless}}
    </div>
  </div>
  <div>
    <Input @type="checkbox" @checked={{editingRecord.isCurrent}} />
    <span>Currently Working</span>
  </div>

  <div>
    <div class="font-sm">Location</div>
    <Input @type="text" class="input-text" @value={{editingRecord.location}} />
  </div>

  <div>
    <div class="font-sm">
      Description (if any)
    </div>
    <Textarea class="input-textarea w-100" @value={{editingRecord.description}} @rows="7" />
    </div>
    
      <div class="d-flex">
        <div class="li-left">
          <button class="red" {{action 'deleteRecord'}}>
            <i class="fas fa-trash pr-3"></i>Delete
          </button>
        </div>
        <div class="li-right">
          <button class="button-dashed button-orange" {{action (mut showEditModal) false}}>Cancel</button>
          <button class="button-solid button-orange" {{action 'saveRecord'}}>Save Details</button>
        </div>
      </div>
      {{#if error}}
        <div class="red">
          {{error}}
        </div>
      {{/if}}
    </div>
  {{/modal-dialog}}
{{/if}}