<div
  class="bg-grey position-absolute w-100 tl row no-gutters justify-content-between align-items-center py-4 px-lg-5 px-4">
  <div class="font-md bold col-sm-3 col-12 mb-sm-0 mb-3">Companies</div>
  <div class="col-md-6 col-sm-4 col-6 mr-2">
    {{input class="search-bar bg-white w-100" type="text" 
        value=companyProfileSearchFilter
        placeholder="Company Name"
        input=(action (perform fetchCompanysTask)) }}


    {{!-- <div class="">
    <label class="input-checkbox checkbox-solid">
      <input type="checkbox" checked={{hideExpiredCompanys}} onClick={{action (mut hideExpiredCompanys) (not hideExpiredCompanys)}}
        onChange={{action (perform fetchCompanysTask)}}>
          Hide companies past deadline
      <span></span>
    </label>
  </div> --}}
  </div>
  {{!-- <LinkTo @route="companies.new">
    <button class="button-solid button-orange">+ Add Company</button>
  </LinkTo> --}}
</div>

<div class="border-card p-md-5 p-4" style="margin-top: 7.5rem;">
  <div class="horizontal-scrolling-table">
    <table class="w-100">
      <thead class="bold">
        <th>S No.</th>
        <th>Company</th>
        {{!-- <th>Action</th> --}}
      </thead>
      <tbody>
        {{#if fetchCompanysTask.isRunning}}
        <LoadingComponent />
        {{else}}
        {{#each companies as |company index|}}
        <tr class="{{if company.hasDeadlinePassed 'red'}}">
          <td>#{{inc index}}</td>
          <td>{{company.name}}</td>
          <td class="t-align-r py-3">
            <LinkTo @route="companies.id" @model={{company.id}}>
              <button class="button-solid button-orange">View</button>
            </LinkTo>
          </td>
        </tr>
        {{/each}}
        {{/if}}
      </tbody>
    </table>
  </div>
  <div class="divider-h mt-4"></div>
  <WPagination class="mt-4" @nextOffset={{pagination.nextOffset}} @prevOffset={{pagination.prevOffset}}
    @count={{pagination.count}} @limit={{limit}} @offset={{offset}} @onChange={{action 'paginate'}} />
</div>