{{input type="text" value=lead.name placeholder=""}}
{{input type="text" value=lead.email placeholder=""}}
{{input type="text" value=lead.mobile placeholder=""}}
{{input type="text" value=lead.companyName placeholder=""}}
{{input type="text" value=lead.hiringPosition placeholder=""}}

<button class="button-solid" {{action 'saveLead'}}>Send Details</button>