
<div class="border-card p-5 bg-white p-5 t-align-c">
  <input type="text" value={{lead.name}} class="underline-input font-sm w-100 pb-2 mb-5" placeholder="Your Name *">
  <input type="text" value={{lead.email}} class="underline-input font-sm w-100 pb-2 mb-5" placeholder="Work Email *">
  <input type="text" value={{lead.companyName}} class="underline-input font-sm w-100 pb-2 mb-5" placeholder="Company Name *">
  <input type="text" value={{lead.mobile}} class="underline-input font-sm w-100 pb-2 mb-5" placeholder="Mobile Number *">
  <input type="text" value={{lead.hireingPosition}} class="underline-input font-sm w-100 pb-2 mb-5" placeholder="Hiring Position *">
  <button class="button-solid button-orange mx-auto" {{action 'saveLead'}}>Send Details</button>

</div>